<div class="container well">
    <h3 class="text-center">Create your New Poll</h3>
    <form id="poll">
      <label htmlFor="title">Title</label>
      <input type="text" class="form-control input-lg" value='' placeholder="Title" name="title"/>
      <label htmlFor="option1">Option</label>
      <input id="option1" type="text" class="form-control input-lg" value='' placeholder="Option" name="option"/>
      <label htmlFor="option2">Option</label>
      <input id="option2" type="text" class="form-control input-lg" value='' placeholder="Option"name="option"/>
      <input type="button" class="btn btn-success pull-right" value="Create Poll" onclick="testPoll()"/>
    </form>
</div>