<!DOCTYPE html>
<html>

  <head>
    <title>FCC Voting App</title>
     
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="dist/app.css">
    </head>
    
    <body>
      <div id="app"></div>
      <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
      <script type="text/javascript" src="dist/bundle.js"></script>
    </body>

</html>