<!DOCTYPE html>
<html>

  <%- include ../views/partials/_head.ejs %>
    <body>
      <%- include ../views/partials/_flashMessages.ejs %>
      <div id="app"><%-reactHTML%></div>
      <script type="text/javascript" src="dist/bundle.js"></script>
      <pre><%-user%></pre>
    </body>

</html>