<!DOCTYPE html>
<html>
  <%- include ../views/partials/_head.ejs %>
  <body>
    <%- include ../views/partials/_flashMessages.ejs %>
      <div class="container logo">
        <%- include ../views/partials/_urtLogo.ejs %>
        <!--<img src="https://upload.wikimedia.org/wikipedia/commons/5/57/React.js_logo.svg" alt="react logo" class="img-responsive img-circle center-block"></img>-->
        <!--<h3 class="text-center">Welcome to Universal React Template!</h3>-->
        <h4 class="text-center">Please Log in or Register using:</h4>
        <div class="text-center">
          <a href="/auth/google" class="btn btn-danger text-center"><span class="fa fa-google-plus"></span> Google</a>
          <a href="/auth/github" class="btn btn-custom-darken text-center"><span class="fa fa-github" alt="github logo"></span> Github</a>
          <a href="/auth/twitter" class="btn btn-twitter"><span class="fa fa-twitter-square" alt="twitter logo"></span> Twitter</a>
          <a href="/auth/facebook" class="btn btn-facebook"><span class="fa fa-facebook-square" alt="facebook logo"></span> Facebook</a>
          <!--<a href="#/auth/linkedin" class="btn btn-linkedIn"><span class="fa fa-linkedin-square" alt="linkedin logo"></span> LinkedIn</a>-->
        </div>
      </div>
    </body>

</html>