<!DOCTYPE html>
<html>

  <%- include ../views/partials/_head.ejs %>
    <body>
      <%- include ../views/partials/_flashMessages.ejs %>
      <% if(polls.length > 0 || polls.length !== undefined){ %>
        <div class="container">
          <%- include ../views/partials/_polls.ejs %>
        </div>
      <% } else { %>
        <div class="container">
          <%- include ../views/partials/_poll.ejs %>
        </div>
      <% } %>
      <script type="text/javascript" src="dist/bundle.js"></script>
    </body>

</html>