<!DOCTYPE html>
<html>

  <%- include ../views/partials/_head.ejs %>
    <body>
      <meta id='initial-state' value='<%=id%>'></meta>
      <%- include ../views/partials/_flashMessages.ejs %>
      <div id="poll"><%=reactPOLL%></div>
      <script type="text/javascript" src="dist/bundle.js"></script>
    </body>

</html>